@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("../../public/arenas/Arena.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.hex:before {
  content: " ";
  width: 0; height: 30px;
  border-bottom: 30px solid #171717;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #171717;
  position: relative;
  background-size: cover;
  opacity: .9;
}

.hex:after {
  content: "";
  width: 0;
  height: 30px;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #171717;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
